{% extends 'attBundle:Planification:index.html.twig' %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="#">{% trans %}Dashboard{% endtrans %}</a></li>
        <li><a href="#">{% trans %} Planification{% endtrans %} </a></li>
        <li><a href="#">{% trans %} Import{% endtrans %} </a></li>    
        <li class="active">{% trans %} File {% endtrans %} </li>
    </ol> 

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-archive-o"></i>   
                <span>{% trans %} Import a Plan from a File{% endtrans %}</span>
            </div>
            <div class="panel-body">  
                <div class="panel-body" style="padding-top:30px" >


                    {{ form_start(form,{'attr':{'class':'attForm', 'id':'attForm'} }) }}
                    <div id="form_body">
                        <div id="formErrors">
                            {{ form_errors(form) }}
                        </div>  

                        <div class="form-group">
                            {{ form_widget(form.file) }}
                        </div>                     
                        {{ form_end(form) }}
                    </div>    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent()}}
           
    <script>
        $('.fileInput').fileinput({
            'showUpload': true,
            'previewFileType': 'any',
            'language': 'es',
            'theme': 'gly'
        });
    </script>  
{% endblock %}