{% block stylesheets %}
    <style type="text/css">
        .panel-body .form-horizontal .form-group .form-inline {
            margin-right: 25px;
            margin-left: 25px;
            margin-bottom: 50px;
        }
    </style>
{% endblock %}

{% block content_data %}
    <div class="container">

        <div  style="margin-top:50px;" class="col-md-7 col-md-offset-1">

            <div class="panel panel-default" id="panel">

                <div class="panel-heading">
                   {% trans %} Plan Register {% endtrans %} 
                </div>

                <div style="padding-top:30px" class="panel-body">

                    {{ form_start(form,{'attr':{'class':'attForm', 'id':'attForm'} }) }}




                    <div class="form-group">
                        <div id="formErrors">
                            {{ form_errors(form) }}
                        </div>
                    </div>


                    <div class="form-group ">
                        <label for="">{% trans %} Select date range {% endtrans %}:</label>
                        <div class="input-group input-daterange">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            {{ form_widget(form.datefrom)}}  
                            <span class="input-group-addon">{% trans %} to {% endtrans %}</span>
                            {{ form_widget(form.dateto)}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>   
                    </div>    

                    <div class="form-group">
                        <label for=""> {% trans %} Select time range {% endtrans %}:</label>                              
                        <div class="form-inline">   
                            <div class="input-group clockpicker">
                                <span class="input-group-addon">
                                    {% trans %} In {% endtrans %}
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                {{ form_widget(form.inplan)}}

                            </div>       
                            <div class="input-group clockpicker">
                                {{ form_widget(form.outplan)}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                    {% trans %} Out {% endtrans %}
                                </span>
                            </div>
                        </div>            
                    </div>      

                    <div class="form-group ">   
                        <label for="">{% trans %}Select Plan State{% endtrans %}: </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                               {% trans %} State {% endtrans %} 
                            </span>
                            {{ form_widget(form.stateplan)}}
                        </div>
                    </div>                


                    <div class="form-group ">
                        <label for="">{% trans %} Select employees to apply planning {% endtrans %}: </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            {{ form_widget(form.employee)}}
                        </div>    
                    </div>       

                    <div class="form-group">
                        {{ form_widget(form.send)}}
                    </div>    


                    {{ form_rest(form) }}           

                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>  

{% endblock %}   


{% block javascripts %}

    <script src="{{ asset('bundles/att/js/attPlanForm.js') }}" ></script>    
    <script>
        $(document).ready(function () {
            buildFieldsForm();
            initForm();

        });
    </script>   

{% endblock %}

