{% extends 'attBundle::base.html.twig' %}
{% block body %}
 <div class="col-md-6 col-md-offset-3">
    
     {% for wkflow in wkflows %}
         
         <p>{{ wflow.id }}</p>
         <p>{{ wflow.statekey }}</p>
         <p>{{ wflow.modifiedAt | date('Y-m-d') }}</p>
         <p>{{ wflow.createAt | date('Y-m-d') }}</p>
         <p>{{ wflow.entityid }}</p>
         <p>{{ wflow.workflow.name}}</p>
         <p>{{ wflow.id }}</p>
         
     {% endfor %}
 
 </div>    
{% endblock %}

