{% extends 'appBundle::base.html.twig' %}
{% block title %}Att - {{app.security.token.providerKey | capitalize}}{% endblock %}
{% block body %}

    <div id="wrapper" class="toggled">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <a href="{{ path('att_index',{'mode':app.security.token.providerKey}) }}">
                        <img style="max-height: 38px; max-width:75px; margin-top: -7px;" class="img-responsive"
                             src="{{ asset('bundles/app/images/att_logo.png')}}">
                    </a>
                </span>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a id="menu-toggle" type="button" data-toggle="button" class="btn btn-default btn-xs">
                        <i class="fa fa-exchange fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('att_attendance_index',{'mode':app.security.token.providerKey}) }}">
                        <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>
                <li>
                    <a href="{{ path('employee_index',{'mode':app.security.token.providerKey}) }}">
                        <i class="fa fa-group fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>
                <li>
                    <a href="{{ path('att_certificate_index',{'mode':app.security.token.providerKey}) }}">
                        <i class="fa fa-certificate fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>
                <li>
                    <a href="{{ path('medical_service_index',{'mode':app.security.token.providerKey})}}">
                            <i class="fa fa-user-md  fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>
                <li>
                    <a href="{{ path('att_plan_index',{'mode':app.security.token.providerKey}) }}">
                        <i class="fa fa-id-card fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-refresh  fa-lg" aria-hidden="true"></i>                                
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">                       
                        <i class="fa fa-user fa-fw"></i>
                        <span class="hidden-xs small"> 
                            {% if is_granted('ROLE_FRONTEND')%}
                                {{ app.user.employee.surname | capitalize }} ,{{ app.user.employee.name | capitalize }}</span>
                            {% else %}   
                                {{ app.user.username | capitalize }} </span>
                            {% endif %}    

                        <i class="fa fa-caret-down"></i>

                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> {% trans %} User Profile {% endtrans %}</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> {% trans %} Settings {% endtrans %}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('att_backend_logout')}}"><i class="fa fa-sign-out fa-fw"></i>{% trans %} Logout {% endtrans %}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            <div id="sidebar-wrapper">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav in" id="side-menu">
                            {% block sidebar %}
                                <li>
                                    <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> 
                                        <span class="masked">
                                            {% trans %} Dashboard{% endtrans %}
                                        </span>    
                                    </a>
                                </li>
                            {% endblock %} 
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" style="min-height: 158px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid" id="content">
                        {% block content %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">{% trans %}Dashboard{% endtrans %}</a></li>                                
                                <li lass="breadcrumb-item active">{% trans %}Start{% endtrans %}</li>
                            </ol>
                            <div class="jumbotron">
                                <h1 class="display-3">{% trans %} Hello{% endtrans %}, 
                                    {% if is_granted('ROLE_FRONTEND')%}
                                        {{ app.user.employee.name | capitalize }}
                                    {% else %}   
                                        {{ app.user.username | capitalize }} </span>
                                    {% endif %} 
                                </h1>
                                <p class="lead">{% trans %}Welcome to the Att Dasboard panel. In this space, you can administer the application and manage the modules enabled in it. Att welcomes you and wishes you luck{% endtrans %}. </p>
                                <hr class="my-4">
                                <p>{% trans %} To start in the navigation bar you will find the modules of the system, clicking on them will display the corresponding menu in the sidebar to your left. {% endtrans %}</p>
                            </div>
                        {% endblock %}
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>

{% endblock %}
