             
<div class="panel panel-default" id="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#collapseWf" data-toggle="collapse">
                {% trans %} Procedure {% endtrans %} Id: {{ wf.id }}
                <span class="pull-right clickable"><i class="fa fa-chevron-down"></i></span>
            </a>
        </h4>    
    </div>
    <div class="panel-collapse collapse in" id="collapseWf">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>{% trans %} Procedure {% endtrans %} {% trans %} State{% endtrans %}</th>
                    <td>{{ wf.statekey | trans }}</td>
                </tr>
                <tr>
                    <th>{% trans %} Procedure {% endtrans %} {% trans %} Create{% endtrans %}</th>
                    <td>{{ wf.createAt | date ('Y-m-d H:i:s ')}}</td>
                </tr>
                <tr>
                    <th>{% trans %} Procedure {% endtrans %} {% trans %} Modified{% endtrans %} </th>
                    <td>{{ wf.modifiedAt | date ('Y-m-d H:i:s ') }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Certificate{% endtrans %} ID</th>
                    <td>{{ wf.entityid }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
