<div class="panel-group">
    <div class="panel panel-default" id="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapseCertificate" data-toggle="collapse">
                    {% trans %}Certificate{% endtrans %} Id: {{ certificate.id }}
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </a>
            </h4>
        </div> 
        <div id="collapseCertificate" class="panel-collapse collapse in">
            <table class="table table-responsive">
                <tbody>

                    <tr>
                        <th>{% trans %}Employee{% endtrans %}</th>
                        <td>{{ certificate.employee.surname |capitalize}}, {{certificate.employee.name|capitalize}}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Presentation Date{% endtrans %} </th>
                        <td>{% if certificate.date %}{{ certificate.date|date('Y-m-d H:i:s ') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}From{% endtrans %}</th>
                        <td>{% if certificate.datefrom %}{{ certificate.datefrom|date('Y-m-d H:i:s ') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}To{% endtrans %}</th>
                        <td>{% if certificate.dateto %}{{ certificate.dateto|date('Y-m-d H:i:s ') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Aprobation Status{% endtrans %}</th>
                        <td>{% if certificate.aprobationstate %}{% trans %}Yes{% endtrans %}{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Details{% endtrans %}</th>
                        <td>{{ certificate.details }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <td>{{ certificate.type.description | trans }}
                    </tr>
                    <tr>
                    <tr>
                        <th>{% trans %}Attach Documentation{% endtrans %}</th>
                        <td>{% if certificate.attachdoc %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Scan{% endtrans %}</th>
                        <td>
                            <div id="lightgallery">
                                <a href="{{ vich_uploader_asset(certificate, 'scanFile') }}" class="thumbnail"> 
                                    <img src="{{ vich_uploader_asset(certificate, 'scanFile') }}" style="width:80px;height:100px">
                                </a>
                            </div>   
                        </td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>            
    </div>
</div>


