<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 text-center">
                <h2 class="text-muted">
                    {{ contract.fileNumber }}
                </h2>
            </div>
            <div class="col-md-8">
                <h2 > {{ contract.employee.surname }}, {{ contract.employee.name }} </h2>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-4">
                Company:
            </div>
            <div class="col-md-8 text-center">
                {{ contract.business.company.description }}
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                Business:
            </div>
            <div class="col-md-8 text-center">
                {{ contract.business.description }}
            </div>  
        </div> 
        <div class="row">
            <div class="col-md-4">
                Status:
            </div>
            <div class="col-md-8 text-center">

                {% if contract.status.description == 'Active' %}
                    <span class="label label-success">
                        {{ contract.status.description }}
                    </span>
                {% else %}
                    <span class="label label-danger">
                        {{ contract.status.description }}
                    </span>
                {% endif %}
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                Restdays Qty:
            </div>
            <div class="col-md-8 text-center">
                {{ qtyrestdays }}
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4">
                Restdays:
            </div>
            <div class="col-md-8 text-center">
                {% if contract.restdays %}
                    {% for rd in contract.restdays %}
                        {{rd.description | trans | capitalize }}
                    {% endfor %}                                           
                {% endif %}
            </div>  
        </div>     


    </div>
</div>
